<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
  <body>
    <center>
   
    <div class="form-modalID">
     <h2>GENERATE ID</h2>
      <div id="generateId">
        <form id="genIdform">
          <center>
            <table>
              <tr>
                <td><input text="text" data-validation="required" name="user" id="user" placeholder="Enter the userAddress"
                    data-validation-regexp="^([a-zA-Z]+)$"></td>
               
            </table>
          </center>
          <center>
            <button class="btn col-sm-3" style="background:#33cc99 ;" type="submit" onClick="getValue(event)"> Submit
            </button>
          </center>
          <table>
            <tr>
              <td><span id="created"></span></td>
          </table>
        </form>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
      <script>//valiation item name
        $.validate({
          modules: 'html5'
        });
      </script>
      <script>    //validation private key
        $.validate({
          validateOnBlur: false, // disable validation when input looses focus
          errorMessagePosition: 'bottom', // Instead of 'inline' which is default
          scrollToTopOnError: false // Set this property to true on longer forms
        });
      </script>
  
      <!--End of property id generation-->
  </div>



  <br>
  <br>
  <h2>CREATE ASSET</h2>
  
<div>

  <form action="createAsset" method="post"enctype="multipart/form-data">
    <label for="id">Asset ID</label>
    <input type="text" name="id">

    <label for="name">Asset Name</label>
    <input type="text" name="name" >

    <label for="file">Upload File</label>
    <input type="file" name="uploadFile" required />
  
    <input type="submit" value="Submit">
  </form>

</div>
  <br>

  </center>
  </body>
  
<script>
  function getValue(event) {
    event.preventDefault();
    let user = document.getElementById('user').value;
   
    if (user.length == '') {
      alert("Please provide the details correctly!!")
    }
   
    else {
      $.post('/AddressId', { user}, (data) => {
        console.log(data.txn)
        document.getElementById('created').innerHTML = data.txn;
      });
    }
  }
</script>
<script>


</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<!-- <script src="../routes/setAdmin.js"></script> -->
</html>